<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Product Catalog Management</title>
        <link rel="stylesheet" href="css/style.css">  
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
        <script src="./angular-app/login_app.js"></script>
  </head>

<body ng-app="myApp">
    <div class="login" ng-controller="UserCtrl">
        <div class="login-screen">
            <div class="app-title">
                <h1>Modesto Product Catalog</h1>
            </div>

            <div class="login-form">
                <form ng-show="!isAuthenticated" ng-submit="submit()">
                    <div class="control-group">
                    <input ng-model="user.username" type="text" name="user" placeholder="Username" />
                    <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                    <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>                    
                    <input type="submit" value="Login" />
                    </form>

            </div>
        </div>
    </div>
</body>
</html>


<!-- 

<div>{{welcome}}</div>
<a ng-click="logout()" href="">Logout</a>
-->